body {
    overflow: hidden;
    background-color: rgb(238, 231, 203);
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

#title img {
    width: 400px;
    height: 70px;
    display: block;
    border-radius: 10px;
}

#title {
    width: 400px;
    height: 70px;
}

#coins {
    height: 40px;
    width: 90px;
    margin: 5px;
    background-color: #6c6ca8;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

form[action="/challenges/"] {
    display: inline-block;
}

input[type="submit"] {
    background-color: #cf4545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #d32f2f;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#plot-wrapper {
    flex: 1;
    padding-top: 10px;
}

#plot-container {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    justify-content: center;
    align-items: center;
    width: auto;
}

#challenges {
    border: 1px solid #999;
    background-color: #d4adcf;
    height: 400px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    margin: 0 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#challenges h3 {
    text-align: center;
    margin-bottom: 10px;
}

#challenges ul {
    list-style-type: none;
    padding: 0;
}

#challenges li {
    margin-bottom: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#challenges li:hover {
    background-color: #f5f5f5;
}

.tile {
    background-color: #714e3b;
    border: 1px solid #999999;
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    background-color: #999999;
}

#profileInfo,
#shopInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 45%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    border: #999999;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileButton,
#shopButton {
    height: 40px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #5b9279;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 0.3s;
}

#profileButton:hover,
#shopButton:hover {
    background-color: #436d5a;
}

.profileContent {
    display: flex;
    align-items: center;
}

.profileHeader {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.profileAvatar {
    padding-right: 20px;
}

.profileAvatar img {
    width: 160px;
    height: auto;
    border-radius: 50%;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    font-size: 200%;
}

.challengeCounter,
.coinsCounter {
    margin-top: 10px;
}

.shopHeader {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#item-board {
    display: flex;
    justify-content: center;
}
.item {
    background-color: #999999;
    height: 70px;
    width: 70px;
    border: 5px #fff solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.item:hover {
    background-color: #aaa;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: #d4adcf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    padding: 10px;
    z-index: 9999;
    transition: top 0.5s ease, border-radius 0.5s ease;
    overflow: hidden;
    top: calc(100% - 50px);
}

#bottomBarButton {
    cursor: pointer;
    text-align: center;
}

#bottomBarButton img {
    height: 30px;
}

#bottomBarContent {
    text-align: center;
    transition: opacity 0.5s ease;
}

#bottomBar::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottomBar.open {
    top: calc(100% - 550px);
}

#blank-answers {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

#blank-answers li {
    padding: 20px;
}

#blank-answers {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

#blank-answers li {
    padding: 20px;
}

#bottomBarContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bottomBarContent li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
}

.personal-challenges {
    margin-bottom: 20px;
}

input[type="radio"] {
    appearance: none; /* Remove default appearance */
    width: 15px; /* Set width of the radio button */
    height: 15px; /* Set height of the radio button */
    border: 2px solid #5b9279; /* Add border */
    border-radius: 50%; /* Make it round */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add pointer cursor */
    margin-right: 10px; /* Add spacing between radio button and label */
}

input[type="radio"]:checked {
    background-color: #436d5a;
    border: 2px solid #436d5a;
}

input[type="radio"] + span {
    display: inline-flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    font-size: 16px; /* Adjust label font size */
}

#check {
    padding: 10px 20px; /* Add padding for better appearance */
    background-color: #5b9279; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-size: 16px; /* Font size */
    margin: 20px;
}

#check:hover {
    background-color: #436d5a;
}

#login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login_form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#register_form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the form headings */
#login_form h1,
#register_form h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* Style for form fields */
#login_form input[type="text"],
#login_form input[type="password"],
#register_form input[type="text"],
#register_form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for submit buttons */
#login_form input[type="submit"],
#register_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Hover effect for submit buttons */
#login_form input[type="submit"]:hover,
#register_form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for csrf_token input */
input[name="csrfmiddlewaretoken"] {
    display: none;
}
