body {
    overflow: hidden;
    background-color: rgb(238, 231, 203);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

#title img {
    width: 400px;
    height: 70px;
    display: block;
    border-radius: 10px;
}

#title {
    width: 400px;
    height: 70px;
}

#coins {
    height: 40px;
    width: 90px;
    margin: 5px;
    background-color: #7172af;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#plot-wrapper {
    flex: 1;
    padding-top: 10px;
}

#plot-container {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    justify-content: center;
    align-items: center;
    width: auto;
}
ul {
    padding: 15px;
    padding-left: 20px;
    margin: 0;
}
#challenges {
    border: 1px solid #999;
    height: auto;
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 0 30px;
}

.tile {
    background-color: #714e3b;
    border: 1px solid #999999;
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    background-color: #999999;
}

#profileInfo,
#shopInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 45%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    border: #999999;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileButton,
#shopButton {
    height: 40px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profileButton:hover,
#shopButton:hover {
    background-color: #45a049;
}

.profileContent {
    display: flex;
    align-items: center;
}

.profileHeader {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.profileAvatar {
    padding-right: 20px;
}

.profileAvatar img {
    width: 160px;
    height: auto;
    border-radius: 50%;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    font-size: 200%;
}

.challengeCounter,
.coinsCounter {
    margin-top: 10px;
}

.shopHeader {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#item-board {
    display: flex;
    justify-content: center;
}
.item {
    background-color: #999999;
    height: 70px;
    width: 70px;
    border: 5px #fff solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.item:hover {
    background-color: #aaa;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(24, 22, 22);
    border-bottom: none;
    padding: 10px;
    z-index: 9999;
    transition: top 0.5s ease, border-radius 0.5s ease;
    overflow: hidden;
    top: calc(100% - 50px);
}

#bottomBarButton {
    cursor: pointer;
    text-align: center;
}

#bottomBarButton img {
    height: 30px;
}

#bottomBarContent {
    text-align: center;
    transition: opacity 0.5s ease;
}

#bottomBar::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottomBar.open {
    top: calc(100% - 650px);
}

#blank-answers {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

#blank-answers li {
    padding: 20px;
}

#blank-answers {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style-type: none;
}

#blank-answers li {
    padding: 20px;
}
