<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Fact</title>
        <link rel="stylesheet" href="../static/index/styles.css" />
    </head>
    <body>
        <div id="fact_wrapper">
            <div id="addFact_form">
                {% if user.setter %}
                <h1>New Challenge</h1>
                <form action="." method="POST">
                    {% csrf_token %}
                    <label for="text">Text:</label>
                    <input
                        type="text"
                        id="text"
                        name="text"
                        required
                    /><br /><br />

                    <label for="words">Words e.g. 1,2,5,7,16 :</label>
                    <input
                        type="text"
                        id="words"
                        name="words"
                        required
                    /><br /><br />

                    <label for="coins">Coins:</label>
                    <input
                        type="text"
                        id="coins"
                        name="coins"
                        required
                    /><br /><br />

                    <input type="submit" value="Submit" />
                </form>
                <button onclick="loadAllFacts()" style="margin-top: 2%">
                    See All Facts
                </button>
                {% else %}
                <h1>Access Denied</h1>
                {% endif %}
            </div>
        </div>
    </body>
    <script>
        function loadAllFacts() {
            window.location.href = "/challenges/all-facts/";
        }
    </script>
</html>
