<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/index/styles.css" />
        <script src="../static/index/script.js"></script>
        <title>SustainAGarden</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="nav">
            <div id="title">
                <!-- <img src="SustainAGarden-logo.jpg" alt="Logo" />-->
            </div>
            <button id="profileButton">Profile</button>
            <button id="shopButton">shop</button>
            <div id="points">Points: {{coins}}</div>
            <!-- Points from account -->
        </div>
        <div id="profileInfo" style="display: none">
            <div class="profileHeader">{{username}}</div>
            <!-- Username -->
            <div class="profileContent">
                <div class="profileAvatar">
                    <img src="../static/index/avatar.jpg" alt="Avatar" />
                    <!-- profile image from user -->
                </div>
                <div class="profileDetails">
                    <div class="challengeCounter">
                        Challenges Completed: {{challenges_completed}}
                    </div>
                    <!-- challenge count from user -->
                    <div class="pointsCounter">Points: {{coins}}</div>
                    <!-- points from account -->
                </div>
            </div>
        </div>
        <div id="shopInfo" style="display: none">
            <div class="shopHeader">Shop</div>
            <div id="item-board">
                <div class="item" id="flower">F</div>
                <div class="item" id="tree">T</div>
                <div class="item" id="grass">G</div>
            </div>
        </div>
        <div id="main-container">
            <div id="plot-wrapper"><div id="plot-container"></div></div>
            <div id="challenges">
                <h3>Challenges</h3>
                <ul>
                    <li>Walk 20 miles</li>
                    <li>recycle 10 cans</li>
                    <li>plant a tree</li>
                </ul>
            </div>
        </div>
        <div id="bottomBar">
            <div id="bottomBarButton">&#8593;</div>
            <div id="bottomBarContent" style="display: none">
                <h2>Daily Tasks</h2>
                <ol>
                    <li><p>Sustainability ques 1. fill in the ________</p></li>
                    <li>
                        <p>Sustainability ques 2. this is a question</p>
                        <p>these are answers</p>
                    </li>
                    <li>
                        <p>
                            Sustainability ____ 3. Choose the _____ to fill in
                            the _____
                        </p>
                        <p>ques words blanks</p>
                    </li>
                </ol>
            </div>
        </div>
        <script>
            create_grid(16, 10);
        </script>
        {% else %}
        <h1>Log in to your Account</h1>
        <form action="/challenges/" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="login" />
            {{ login_form }}
            <div>{{ login_error }}</div>
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </body>
</html>
