<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700&display=swap"
        />
        <link rel="stylesheet" href="../static/index/styles.css" />
        <script src="../static/index/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>SustainAGarden</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="nav">
            <div id="title">
                <img src="../static/index/Logo.png" alt="Logo" />
            </div>
            <button id="profileButton">Profile</button>
            {% if user.setter %}
            <button
                onclick="window.location.href = '/challenges/set-challenge'"
                value="Add Challenge"
                id="addChallengeButton"
            >
                Add Challenge
            </button>
            <button
                onclick="window.location.href = '/challenges/add-fact'"
                value="Add Fact"
                id="addFactButton"
            >
                Add Fact
            </button>
            {% endif %} {% if user.institution %}
            <button
                onclick="window.location.href = '/challenges/view'"
                value="Statistics"
                id="statisticsButton"
            >
                Statistics
            </button>
            {% endif %}
            <button id="shopButton">Shop</button>
            <div id="coins">Coins: {{ coins }}</div>
            <!-- coins from account -->
            <form action="/challenges/" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="logout" />
                <input type="submit" value="Logout" />
            </form>
        </div>
        <div id="profileInfo" style="display: none">
            <div class="profileHeader">
                {{ username }}
                <button style="margin-left: 10%;" id="closeShop" onclick="toggleVisibility('profileInfo')">X</button>

            </div>
            <!-- username -->
            <div class="profileContent">
                <div class="profileAvatar">
                    <img src="{{ profile_image }}" alt="Avatar" />
                    <!-- profile image from user -->
                </div>
                <div class="profileDetails">
                    <div id="challengeCounter">
                        Challenges Completed: {{ challenges_completed }}
                    </div>
                    <!-- challenge count from user -->
                    <div id="coinsCounter">Coins: {{coins}}</div>
                    <!-- coins from account -->
                </div>
            </div>
        </div>
        <div id="shopInfo" style="display: none">
            <div class="shopHeader">Shop
                <button style="margin-left: 20%;" id="closeShop" onclick="toggleVisibility('shopInfo')">X</button>
            </div>
            <div id="shopCoins">Coins: {{ coins }}</div>
            <div id="item-board">
                <div class="item">
                    <img
                        src="../static/index/images/flowers.png"
                        alt="flower"
                        id="flower"
                    />
                    <span>Flower Bed (20)</span>
                </div>
                <div class="item">
                    <img
                        src="../static/index/images/trees.png"
                        alt="tree"
                        id="tree"
                    />
                    <span>Tree (40)</span>
                </div>
                <div class="item">
                    <img
                        src="../static/index/images/grass.png"
                        alt="grass"
                        id="grass"
                    />
                    <span>Grass (10)</span>
                </div>
                <div class="item">
                    <img
                        src="../static/index/images/palm.png"
                        alt="palm"
                        id="palm"
                    />
                    <span>Palm Tree (50)</span>
                </div>
                <div class="item">
                    <img
                        src="../static/index/images/pink-flower.png"
                        alt="pink"
                        id="pink"
                    />
                    <span>Pink Flower (20)</span>
                </div>
                <div class="item">
                    <img
                        src="../static/index/images/snow-bush.png"
                        alt="snow"
                        id="snow"
                    />
                    <span>Snow Bush (25)</span>
                </div>
            </div>
        </div>
        <div id="garden-string" style="display: none">{{ garden }}</div>
        <div id="main-container">
            <div id="plot-wrapper">
                <p>Add plants to your Garden by clicking a tile!</p>
                <div id="plot-container"></div>
            </div>
            <div id="challenges">
                <h3>Save the Planet!</h3>
                <h5>50 Coins Each</h5>
                <p>Click to complete:</p>
                <ul>
                    <li onclick="toggleVisibility('transport-entry')">
                        Walk to the Forum
                    </li>
                    <div id="transport-entry" style="display: none">
                        Get Coins for distance travelled!
                        <br /><br />
                        Input the What3Words locations e.g. filled.count.soap
                        <br /><br />
                        <form action="/challenges/" method="post">
                            {% csrf_token %}
                            <input
                                type="hidden"
                                name="form_id"
                                value="transport_challenge"
                            />
                            {{ transport_challenge }} {{ format_error }} 
                            {{ distance_error }}
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                    <li onclick="toggleVisibility('challenge1-entry')">
                        {{challenge1}}
                    </li>
                    <div id="challenge1-entry" style="display: none">
                        <br /><br />
                        <form action="/challenges/" method="post">
                            {% csrf_token %}
                            <input
                                type="hidden"
                                name="form_id"
                                value="complete_challenge_form1"
                            />
                            {{ challenge1.description }}
                            <br>
                            {{ complete_challenge_form1 }}
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                    <li onclick="toggleVisibility('challenge2-entry')">
                        {{challenge2}}
                    </li>
                    <div id="challenge2-entry" style="display: none">
                        <br /><br />
                        <form action="/challenges/" method="post">
                            {% csrf_token %}
                            <input
                                type="hidden"
                                name="form_id"
                                value="complete_challenge_form2"
                            />
                            {{ challenge2.description }}
                            <br>
                            {{ complete_challenge_form2 }}
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </ul>
            </div>
        </div>
        <div id="bottomBar">
            <div id="bottomBarButton">
                <p>Click the here to view the Fact-Match Game!</p>
                <img src="../static/index/images/up.png" alt="" />
            </div>
            <div id="bottomBarContent" style="display: none">
                <div id="game-board">
                    <div id="question">
                        {{fact}}
                        <br />
                        <div id="reward-info">
                            [Each correct answer is worth 10 coins.]
                        </div>
                    </div>
                    <div id="answers-gen">{{word_list}}</div>
                    <div id="answer-input" style="display: none">
                        Enter the position of each word:
                        <form id="fact-match" onSubmit="check_answers()"></form>
                    </div>
                    <!-- e.g. ['2018', 'produced', 'This', 'to'] -->
                    <script>
                        format_challenges();
                    </script>
                </div>
            </div>
        </div>
        <script>
            create_grid(18, 9);
        </script>
        {% else %}
        <div id="login_wrapper">
            <div id="login_form" style="display: block">
                <h1>Log in to your Account:</h1>
                <form action="/challenges/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="login" />
                    {{ login_form }} {{ login_error }}
                    <input type="submit" value="Submit" />
                    <p>
                        Don't have an account?
                        <button onclick="toggleForms()">Register</button>
                    </p>
                </form>
            </div>
            <div id="register_form" style="display: none">
                <h1>Or Register:</h1>
                <form action="/challenges/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="register" />
                    <label for="id_username">Username:</label>

                    {{ register_form.username }}
                    <br />
                    <label for="email">Email:</label>
                    {{ register_form.email }}
                    <br />
                    <label for="password1">Password:</label>
                    {{ register_form.password1 }}
                    <br />
                    <label for="password2">Confirm Password:</label>
                    {{ register_form.password2 }}
                    <br />
                    <label for="profile_image">Profile Image:</label>
                    {{ register_form.image }}
                    <br />
                    <label for="setter">Setter:</label>
                    {{ register_form.setter }}
                    <br />
                    <label for="institution">Institution:</label>
                    {{ register_form.institution }}
                    <br />
                    <label
                        >I have read and accept SustainAGarden's
                        <a href="{% url 'gdpr' %}">GDPR policy</a></label
                    >
                    {{ register_form.gdpr }}
                    <br />
                    {{gdpr_error}}
                    <input type="submit" value="Submit" />
                    <p>
                        Already have an account?
                        <button onclick="toggleForms()">Login</button>
                    </p>
                </form>
            </div>
        </div>
        {% endif %}
    </body>
    <script>
        function privacyNotice() {
            alert("By using this website, you agree to our privacy policy.");
            document.cookie = "shown=1";
        }
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        if (getCookie("shown") != 1) {
            privacyNotice();
        }

        if (getCookie("fmComplete") == "True") {
            toggleVisibility("bottomBar");
        }
        load_balance();
        get_garden();
        populate_t();
    </script>
</html>
