<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/index/styles.css" />
        <script src="../static/index/script.js"></script>
        <title>SustainAGarden</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="nav">
            <div id="title">
                <img src="../static/index/Logo.png" alt="Logo" />
            </div>
            <button id="profileButton">Profile</button>
            {% if user.setter %}
            <button onclick="window.location.href = '/challenges/set-challenge'" value="Add Challenge">Add Challenge</button>
            {% endif %}
            <button id="shopButton">Shop</button>
            <div id="coins">Coins: {{coins}}</div> <!-- coins from account -->
            <form action="/challenges/" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="logout">
                <input type="submit" value="Logout">
            </form>
        </div>
        <div id="profileInfo" style="display: none">
            <div class="profileHeader">{{username}}</div> <!-- username -->
            <div class="profileContent">
                <div class="profileAvatar">
                    <img src="../static/index/avatar.jpg" alt="Avatar" />
                    <!-- profile image from user -->
                </div>
                <div class="profileDetails">
                    <div class="challengeCounter">Challenges Completed: {{challenges_completed}}</div> <!-- challenge count from user -->
                    <div class="coinsCounter">Coins: {{coins}}</div> <!-- coins from account -->
                </div>
            </div>
        </div>
        <div id="shopInfo" style="display: none">
            <div class="shopHeader">Shop</div>
            <div id="item-board">
                <div class="item" id="flower">F</div>
                <div class="item" id="tree">T</div>
                <div class="item" id="grass">G</div>
            </div>
        </div>
        <div id="main-container">
            <div id="plot-wrapper"><div id="plot-container"></div></div>
            <div id="challenges">
                <h3>Challenges</h3>
                <ul>
                    <li>Walk 20 miles</li>
                    <li>recycle 10 cans</li>
                    <li>plant a tree</li>
                </ul>
            </div>
        </div>
        <div id="bottomBar">
            <div id="bottomBarButton"><img src="../static/index/up.png" alt=""></div>
            <div id="bottomBarContent" style="display: none">
                <div id="game-board">
                    <div class="personal-challenges" id="challenge1">
                        <div class="question">
                            How long has the University of Exeter been powered solely by renewable energy?
                            <div class="reward">30</div>
                        </div>
                        <div>
                            <ul class="answers">
                            <li><label><input type="radio" name="ans-q1" id="ans1" value="6"><span>6 Years</span></label></li>
                            <li><label><input type="radio" name="ans-q1" id="ans2" value="7"><span>7 Years</span></label></li>
                            <li><label><input type="radio" name="ans-q1"  id="ans3" value="2"><span>2 Years</span></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="personal-challenges" id="challenge2">
                        <div class="question">
                            How many Vegan & Vegatarian Meals did the University of Exeter serve, across their campuses, in the 22-23 education year?
                            <div class="reward">30</div>
                        </div>
                        <div>
                            <ul class="answers">
                            <li><label><input type="radio" name="ans-q2" id="ans4" value="103000"><span>103,000</span></label></li>
                            <li><label><input type="radio" name="ans-q2" id="ans5" value="94000"><span>94,000</span></label></li>
                            <li><label><input type="radio" name="ans-q2"  id="ans6" value="98500"><span>98,500</span></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="personal-challenges" id="challenge3">
                        <div id="blanks-game">
                        <div id="quote">
                        We use ___ take away eco-packaging in many of our cafes. 
                        This environmentally friendly alternative to ___ and other oil-based plastic packaging is designed to have 
                        minimal impact on the environment and is made from sustainable, 
                        ___ materials that will break down in composting environments. Planglow work with mills that source their 
                        raw materials - ___ and corn starch - from renewable growth forests or ___.
                        <div class="reward">30</div>
                        </div>
                        <div id="blank-answers">
                            <div id="blank-1">
                                <li><label><input type="radio" name="ans-b1" id="b1" value="planglow"><span>planglow</span></label></li>
                                <li><label><input type="radio" name="ans-b1" id="b2" value="paper"><span>paper</span></label></li>
                                <li><label><input type="radio" name="ans-b1"  id="b3" value="enviropack"><span>enviropack</span></label></li>
                            </div>
                            <div id="blank-2">
                                <li><label><input type="radio" name="ans-b2" id="b4" value="cardboard"><span>cardboard</span></label></li>
                                <li><label><input type="radio" name="ans-b2" id="b5" value="plastic"><span>plastic</span></label></li>
                                <li><label><input type="radio" name="ans-b2"  id="b6" value="polystyrene"><span>polystyrene</span></label></li>
                            </div>
                            <div id="blank-3">
                                <li><label><input type="radio" name="ans-b3" id="b7" value="plant-based"><span>plant-based</span></label></li>
                                <li><label><input type="radio" name="ans-b3" id="b8" value="recyclable"><span>recyclable</span></label></li>
                                <li><label><input type="radio" name="ans-b3"  id="b9" value="compostable"><span>compostable</span></label></li>
                            </div>
                            <div id="blank-4">
                                <li><label><input type="radio" name="ans-b4" id="b10" value="paper"><span>paper</span></label></li>
                                <li><label><input type="radio" name="ans-b4" id="b11" value="grain"><span>grain</span></label></li>
                                <li><label><input type="radio" name="ans-b4"  id="b12" value="wood"><span>wood</span></label></li>
                            </div>
                            <div id="blank-5">
                                <li><label><input type="radio" name="ans-b5" id="b13" value="farms"><span>farms</span></label></li>
                                <li><label><input type="radio" name="ans-b5" id="b14" value="plantations"><span>plantations</span></label></li>
                                <li><label><input type="radio" name="ans-b5"  id="b15" value="woodlands"><span>woodlands</span></label></li>
                            </div>
                        </div>
                        </div>
                        <button onclick="checkAnswers()">Check</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            create_grid(18, 9);
        </script>
        {% else %}
        <div id="login_form">
            <h1>Log in to your Account:</h1>
            <form action="/challenges/" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="login">
                {{ login_form }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="register_form">
            <h1>Or Register:</h1>
            <form action="/challenges/" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="register">
                {{ register_form }}
                <input type="submit" value="Submit">
            </form>
        </div>
        {% endif %}
    </body>
    <script>
        function privacyNotice() {
            alert("By using this website, you agree to our privacy policy.");
            document.cookie = "shown=1";
        }
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        if (getCookie("shown")!=1) {
            privacyNotice();
        }
    </script>
</html>
