<!DOCTYPE html>
<html>
<head>
    <title>Internal Statistics</title>
    <link rel="stylesheet" href="../../static/statistics/style.css">
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <script src="../../static/statistics/script.js"></script>
</head>
<body style="padding-left: 2%; padding-top: 2%">
    <h1>User Activity Statistics</h1>
    <div id="dataContainer">
        <p id="challengesCompletedData">Challenges Completed: {{ completed_challenges }}</p>
        <p id="usersRegisteredData">Users Registered: {{ users.count }}</p>
        <p id="co2Data">CO2 Saved: {{ co2 }}kg</p>
    </div>
    <div style="padding-top: 2%; width:600px;height:250px;" id="barGraph">
        
    </div>
    <div>
        <button style="margin-left: 80%;" id="refreshButton" onclick="refreshData()">Refresh</button>
    </div>
    <button onclick="window.location.href = '/challenges/all-challenges'" style="margin-top: 2%;">View Challenges</button>
    <button onclick="window.location.href = '/challenges'" style="margin-top: 2%;">Home Page</button>
</body>
<script>
    function refreshData() {
        window.location.reload();
    }
    
    var data = [{
        x: ['users', 'challenges', 'co2'],
        y: [{{ users.count }}, {{ completed_challenges }}, {{ co2 }}],
        type: 'bar'
    }];

    Plotly.newPlot("barGraph", data);
</script>
</html>
