<!DOCTYPE html>
<html>
<head>
    <title>Internal Statistics</title>
    <link rel="stylesheet" href="../../static/statistics/style.css">
    <script src="../../static/statistics/script.js"></script>
</head>
<body style="padding-left: 2%; padding-top: 2%">
    <h1>User Activity Statistics</h1>
    <div id="dataContainer">
        <p id="challengesCompletedData">Challenges Completed: 0</p>
        <p id="usersRegisteredData">Users Registered: 0</p>
        <p id="co2Data">CO2 Saved: 0kg</p>
    </div>
    <div>
        <img src="../../static/statistics/chart.jpg" alt="Line Chart" id="lineChart" style="width:50%">
    </div>
    <div>
        <button style="margin-left: 80%;" id="refreshButton" onclick="refreshData()">Refresh</button>
    </div>
</body>
</html>
